
@{ 
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}		
<div class="edu2_main_bn_wrap">
			<div id="owl-demo-main" class="owl-carousel owl-theme">
				<div class="item">
					<figure>
						<img src="~/content/Users/extra-images/slider1.jpg" alt=""/>
						<figcaption>
							<span>The Best Learning Institution</span>
							<h2>welcome to our university</h2>
							<p>We Belive there is nothing more important than Education.</p>
							<a href="#" class="btn-1">read more</a>
						</figcaption>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img src="~/content/Users/extra-images/slider2.jpg" alt=""/>
						<figcaption>
							<span>Opening A New World Of Education</span>
							<h2>largest Education Institute</h2>
							<p>We are the largest education online institute.</p>
							<a href="#" class="btn-1">read more</a>
						</figcaption>
					</figure>
				</div>
				<div class="item">
					<figure>
						<img src="~/content/Users/extra-images/slider3.jpg" alt=""/>
						<figcaption>
							<span>New Online Courses</span>
							<h2>We bring new online courses</h2>
							<p>Largest Online Courses available here.</p>
							<a href="#" class="btn-1">read more</a>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>


<div class="kf_content_wrap">

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="abt_univ_wrap">
                        <!-- HEADING 1 START-->
                        <div class="kf_edu2_heading1">
                            <h5>About Our University</h5>
                            <h3>Welcome To University of Education</h3>
                        </div>
                        <!-- HEADING 1 END-->

                        <div class="abt_univ_des">

                            <span>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</span>
                            <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
                            <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed.</p>
                            <a href="#" class="btn-3">Know More</a>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="abt_univ_thumb">
                        <figure>
                            <img src="~/content/Users/extra-images/abt-thumb.jpg" alt="" />
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--GALLERY SECTION START-->
    <section class="kode-gallery-section">
        <!-- HEADING 2 START-->
        <div class="col-md-12">
            <div class="kf_edu2_heading2">
                <h3>Our Gallery</h3>
                <p>Student gallery of the year past graduated passouts</p>
            </div>
        </div>
        <!-- HEADING 2 END-->
        <!-- EDU2 GALLERY WRAP START-->
        <div class="edu2_gallery_wrap gallery">

            <!-- EDU2 GALLERY DES START-->
            <div class="gallery3">

                <div class="filterable-item all 2 1 9 col-md-3 col-sm-4 col-xs-12 no_padding">
                    <div class="edu2_gallery_des">
                        <figure>
                            <img alt="" src="~/content/Users/extra-images/home-gallery1.jpg">
                            <figcaption>
                                <a data-rel="prettyPhoto[gallery2]" href="extra-images/home-gallery1.jpg"><i class="fa fa-eye"></i></a>
                                <a href="#"><i class="fa fa-link"></i></a>
                                <h5>Lorem Ipsum Proin</h5>
                                <p>Convocation</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="filterable-item all 3 2 1 col-md-3 col-sm-4 col-xs-12 no_padding">
                    <div class="edu2_gallery_des">
                        <figure>
                            <img alt="" src="~/content/Users/extra-images/home-gallery2.jpg">
                            <figcaption>
                                <a data-rel="prettyPhoto[gallery2]" href="extra-images/home-gallery2.jpg"><i class="fa fa-eye"></i></a>
                                <a href="#"><i class="fa fa-link"></i></a>
                                <h5>Lorem Ipsum Proin</h5>
                                <p>Convocation</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="filterable-item all 4 2 9 col-md-3 col-sm-4 col-xs-12 no_padding">
                    <div class="edu2_gallery_des">
                        <figure>
                            <img alt="" src="~/content/Users/extra-images/home-gallery3.jpg">
                            <figcaption>
                                <a data-rel="prettyPhoto[gallery2]" href="extra-images/home-gallery3.jpg"><i class="fa fa-eye"></i></a>
                                <a href="#"><i class="fa fa-link"></i></a>
                                <h5>Lorem Ipsum Proin</h5>
                                <p>Convocation</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="filterable-item all 9 8 7 col-md-3 col-sm-4 col-xs-12 no_padding">
                    <div class="edu2_gallery_des">
                        <figure>
                            <img alt="" src="~/content/Users/extra-images/home-gallery4.jpg">
                            <figcaption>
                                <a data-rel="prettyPhoto[gallery2]" href="extra-images/home-gallery4.jpg"><i class="fa fa-eye"></i></a>
                                <a href="#"><i class="fa fa-link"></i></a>
                                <h5>Lorem Ipsum Proin</h5>
                                <p>Convocation</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="filterable-item all 3 2 4 col-md-3 col-sm-4 col-xs-12 no_padding">
                    <div class="edu2_gallery_des">
                        <figure>
                            <img alt="" src="~/content/Users/extra-images/home-gallery5.jpg">
                            <figcaption>
                                <a data-rel="prettyPhoto[gallery2]" href="extra-images/home-gallery5.jpg"><i class="fa fa-eye"></i></a>
                                <a href="#"><i class="fa fa-link"></i></a>
                                <h5>Lorem Ipsum Proin</h5>
                                <p>Convocation</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="filterable-item all 4 5 7 col-md-3 col-sm-4 col-xs-12 no_padding">
                    <div class="edu2_gallery_des">
                        <figure>
                            <img alt="" src="~/content/Users/extra-images/home-gallery6.jpg">
                            <figcaption>
                                <a data-rel="prettyPhoto[gallery2]" href="extra-images/home-gallery6.jpg"><i class="fa fa-eye"></i></a>
                                <a href="#"><i class="fa fa-link"></i></a>
                                <h5>Lorem Ipsum Proin</h5>
                                <p>Convocation</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="filterable-item all 3 5 7 9 col-md-3 col-sm-4 col-xs-12 no_padding">
                    <div class="edu2_gallery_des">
                        <figure>
                            <img alt="" src="~/content/Users/extra-images/home-gallery7.jpg">
                            <figcaption>
                                <a data-rel="prettyPhoto[gallery2]" href="extra-images/home-gallery7.jpg"><i class="fa fa-eye"></i></a>
                                <a href="#"><i class="fa fa-link"></i></a>
                                <h5>Lorem Ipsum Proin</h5>
                                <p>Convocation</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="filterable-item all 2 4 6 8 col-md-3 col-sm-4 col-xs-12 no_padding">
                    <div class="edu2_gallery_des">
                        <figure>
                            <img alt="" src="~/content/Users/extra-images/home-gallery3.jpg">
                            <figcaption>
                                <a data-rel="prettyPhoto[gallery2]" href="extra-images/home-gallery3.jpg"><i class="fa fa-eye"></i></a>
                                <a href="#"><i class="fa fa-link"></i></a>
                                <h5>Lorem Ipsum Proin</h5>
                                <p>Convocation</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <!-- EDU2 GALLERY WRAP END-->
        </div>
        <div class="loadmore">
            <a href="#" class="btn-3">Load More</a>
        </div>
    </section>
    <!--GALLERY SECTION END-->



</div>

		
	